# Virtual environment
venv/

# Python bytecode
__pycache__/
*.py[cod]

# macOS system files
.DS_Store

# IDE settings
.vscode/
.idea/

# Environment variables
.env

# Logs
*.log

# Ignore large data files
data/*.csv
data/*.zip

# Ignore model checkpoints
models/*.h5